# Data Wrangling
## 1. Load CSV as data frames

In [2]:
#Import python libararies
import os
import datetime
import csv
import pandas as pd

In [3]:
# Set pandas display options for better readability
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)

In [4]:
# Set raw file paths
# Edit the base path depending in local path
base_path = '/Users/swathimanne/Documents/carrer_foundry/Final CF'
accidents_raw_file = 'Raw Data UK Road Safety/Accident_Information.csv'
vehicles_raw_file = 'Raw Data UK Road Safety/Vehicle_Information.csv'

In [5]:
# accidents csv file throws warning on Accident_Ingex having mixed dtypes, so hinting it as str
accidents_df = pd.read_csv(os.path.join(base_path, accidents_raw_file), dtype={'Accident_Index': str}, index_col=False)

In [6]:
# vehicles csv file must have been created using ISO encoding, by default UTF-8 encoding fails to read so explicity hitning to read as ISO-8859-1
vehicles_df = pd.read_csv(os.path.join(base_path, vehicles_raw_file), encoding='ISO-8859-1', index_col=False)

## 2. Examine Data

In [7]:
# check accidents rows, columns
accidents_df.shape

(2047256, 34)

In [8]:
# check vehicles rows, columns
vehicles_df.shape

(2177205, 24)

### [Observation] There seems to be more vehicle records than accidents

In [9]:
# check the sample accidents 
accidents_df.head()

  Accident_Index 1st_Road_Class  1st_Road_Number 2nd_Road_Class  2nd_Road_Number Accident_Severity Carriageway_Hazards        Date Day_of_Week  Did_Police_Officer_Attend_Scene_of_Accident              Junction_Control                      Junction_Detail   Latitude             Light_Conditions Local_Authority_(District) Local_Authority_(Highway)  Location_Easting_OSGR  Location_Northing_OSGR  Longitude LSOA_of_Accident_Location  Number_of_Casualties  Number_of_Vehicles  Pedestrian_Crossing-Human_Control  Pedestrian_Crossing-Physical_Facilities         Police_Force Road_Surface_Conditions           Road_Type Special_Conditions_at_Site  Speed_limit   Time Urban_or_Rural_Area     Weather_Conditions  Year InScotland
0  200501BS00001              A           3218.0            NaN              0.0           Serious                 NaN  2005-01-04     Tuesday                                          1.0  Data missing or out of range  Not at junction or within 20 metres  51.489096                     Daylight     Kensington and Chelsea    Kensington and Chelsea               525680.0                178240.0  -0.191170                 E01002849                     1                   1                                0.0                                      1.0  Metropolitan Police             Wet or damp  Single carriageway                        NaN         30.0  17:42               Urban  Raining no high winds  2005         No
1  200501BS00002              B            450.0              C              0.0            Slight                 NaN  2005-01-05   Wednesday                                          1.0           Auto traffic signal                           Crossroads  51.520075        Darkness - lights lit     Kensington and Chelsea    Kensington and Chelsea               524170.0                181650.0  -0.211708                 E01002909                     1                   1                                0.0                                      5.0  Metropolitan Police                     Dry    Dual carriageway                        NaN         30.0  17:36               Urban     Fine no high winds  2005         No
2  200501BS00003              C              0.0            NaN              0.0            Slight                 NaN  2005-01-06    Thursday                                          1.0  Data missing or out of range  Not at junction or within 20 metres  51.525301        Darkness - lights lit     Kensington and Chelsea    Kensington and Chelsea               524520.0                182240.0  -0.206458                 E01002857                     1                   2                                0.0                                      0.0  Metropolitan Police                     Dry  Single carriageway                        NaN         30.0  00:15               Urban     Fine no high winds  2005         No
3  200501BS00004              A           3220.0            NaN              0.0            Slight                 NaN  2005-01-07      Friday                                          1.0  Data missing or out of range  Not at junction or within 20 metres  51.482442                     Daylight     Kensington and Chelsea    Kensington and Chelsea               526900.0                177530.0  -0.173862                 E01002840                     1                   1                                0.0                                      0.0  Metropolitan Police                     Dry  Single carriageway                        NaN         30.0  10:35               Urban     Fine no high winds  2005         No
4  200501BS00005   Unclassified              0.0            NaN              0.0            Slight                 NaN  2005-01-10      Monday                                          1.0  Data missing or out of range  Not at junction or within 20 metres  51.495752  Darkness - lighting unknown     Kensington and Chelsea    Kensington and Chelsea               528060.0                179040.0  -0.156618                 E01002863                     1                   1                                0.0                                      0.0  Metropolitan Police             Wet or damp  Single carriageway                        NaN         30.0  21:13               Urban     Fine no high winds  2005         No

In [10]:
# check the sample vehicle data
vehicles_df.head()

  Accident_Index Age_Band_of_Driver  Age_of_Vehicle         Driver_Home_Area_Type  Driver_IMD_Decile  Engine_Capacity_.CC. Hit_Object_in_Carriageway Hit_Object_off_Carriageway     Journey_Purpose_of_Driver             Junction_Location              make                  model Propulsion_Code Sex_of_Driver Skidding_and_Overturning Towing_and_Articulation Vehicle_Leaving_Carriageway  Vehicle_Location.Restricted_Lane  Vehicle_Manoeuvre  Vehicle_Reference                Vehicle_Type   Was_Vehicle_Left_Hand_Drive X1st_Point_of_Impact  Year
0  200401BS00001            26 - 35             3.0                    Urban area                4.0                1588.0                       NaN                        NaN  Data missing or out of range  Data missing or out of range             ROVER         45 CLASSIC 16V          Petrol          Male                      NaN     No tow/articulation   Did not leave carriageway                               0.0  Going ahead other                  2                         109  Data missing or out of range                Front  2004
1  200401BS00002            26 - 35             NaN                    Urban area                3.0                   NaN                       NaN                        NaN  Data missing or out of range  Data missing or out of range               BMW                     C1             NaN          Male                      NaN     No tow/articulation   Did not leave carriageway                               0.0  Going ahead other                  1                         109  Data missing or out of range                Front  2004
2  200401BS00003            26 - 35             4.0  Data missing or out of range                NaN                 998.0                       NaN                        NaN  Data missing or out of range  Data missing or out of range            NISSAN  MICRA CELEBRATION 16V          Petrol          Male                      NaN     No tow/articulation   Did not leave carriageway                               0.0      Turning right                  1                         109  Data missing or out of range                Front  2004
3  200401BS00003            66 - 75             NaN  Data missing or out of range                NaN                   NaN                       NaN                        NaN  Data missing or out of range  Data missing or out of range  LONDON TAXIS INT         TXII GOLD AUTO             NaN          Male                      NaN     No tow/articulation   Did not leave carriageway                               0.0  Going ahead other                  2                         109  Data missing or out of range                Front  2004
4  200401BS00004            26 - 35             1.0                    Urban area                4.0                 124.0                       NaN                        NaN  Data missing or out of range  Data missing or out of range           PIAGGIO              VESPA ET4          Petrol          Male                      NaN     No tow/articulation   Did not leave carriageway                               0.0  Going ahead other                  1  Motorcycle 125cc and under  Data missing or out of range                Front  2004

### [Observation] We can see the both files have common field called 'Accident_Index', but explore how the two files are correalted in a meanigful way

In [11]:
print(accidents_df['Accident_Index'].is_unique, vehicles_df['Accident_Index'].is_unique)

True False

In [12]:
accidents_df['Number_of_Vehicles'].value_counts()

Number_of_Vehicles
2     1219250
1      617572
3      163519
4       35067
5        7813
6        2393
7         864
8         396
9         177
10         90
11         37
12         21
13         14
14         14
16          8
15          4
18          3
20          2
19          2
37          1
34          1
21          1
67          1
17          1
29          1
32          1
28          1
22          1
23          1
Name: count, dtype: int64

In [13]:
accidents_df[accidents_df['Number_of_Vehicles']==22]

       Accident_Index 1st_Road_Class  1st_Road_Number 2nd_Road_Class  2nd_Road_Number Accident_Severity Carriageway_Hazards        Date Day_of_Week  Did_Police_Officer_Attend_Scene_of_Accident              Junction_Control                      Junction_Detail   Latitude Light_Conditions Local_Authority_(District) Local_Authority_(Highway)  Location_Easting_OSGR  Location_Northing_OSGR  Longitude LSOA_of_Accident_Location  Number_of_Casualties  Number_of_Vehicles  Pedestrian_Crossing-Human_Control  Pedestrian_Crossing-Physical_Facilities Police_Force Road_Surface_Conditions         Road_Type Special_Conditions_at_Site  Speed_limit   Time Urban_or_Rural_Area  Weather_Conditions  Year InScotland
341867  2006460128486              A             21.0            NaN              0.0           Serious                 NaN  2006-07-11     Tuesday                                          1.0  Data missing or out of range  Not at junction or within 20 metres  51.243651         Daylight                  Sevenoaks                      Kent               553930.0                151700.0   0.203951                 E01024459                     4                  22                                0.0                                      0.0         Kent             Wet or damp  Dual carriageway              Oil or diesel         70.0  07:30               Rural  Fine no high winds  2006         No

In [14]:
vehicles_df.query('Accident_Index=="2006460128486"')

       Accident_Index            Age_Band_of_Driver  Age_of_Vehicle         Driver_Home_Area_Type  Driver_IMD_Decile  Engine_Capacity_.CC. Hit_Object_in_Carriageway Hit_Object_off_Carriageway  Journey_Purpose_of_Driver                       Junction_Location      make                        model Propulsion_Code Sex_of_Driver Skidding_and_Overturning Towing_and_Articulation Vehicle_Leaving_Carriageway  Vehicle_Location.Restricted_Lane    Vehicle_Manoeuvre  Vehicle_Reference                         Vehicle_Type Was_Vehicle_Left_Hand_Drive X1st_Point_of_Impact  Year
318518  2006460128486                       26 - 35             3.0                    Urban area                9.0                1599.0                       NaN                        NaN     Commuting to/from work  Not at or within 20 metres of junction      FORD                   SPORTKA SE          Petrol        Female                  Skidded     No tow/articulation   Did not leave carriageway                               0.0  Slowing or stopping                  2                                  Car                          No                Front  2006
318519  2006460128486                       46 - 55            13.0                    Urban area                7.0                1998.0                       NaN                        NaN     Commuting to/from work  Not at or within 20 metres of junction     VOLVO                       440 SE          Petrol          Male                  Skidded     No tow/articulation   Did not leave carriageway                               0.0  Slowing or stopping                  4                                  Car                          No                Front  2006
318520  2006460128486                       56 - 65             5.0                    Urban area               10.0                 998.0                       NaN                        NaN    Journey as part of work  Not at or within 20 metres of junction    NISSAN            MICRA SE 16V AUTO          Petrol        Female                  Skidded     No tow/articulation   Did not leave carriageway                               0.0    Going ahead other                  7                                  Car                          No                Front  2006
318521  2006460128486                       36 - 45             2.0                         Rural                9.0                1796.0                       NaN                        NaN     Commuting to/from work  Not at or within 20 metres of junction  MERCEDES  CLK 200 KOMP.AVANTGARDE AUT          Petrol          Male                      NaN     No tow/articulation   Did not leave carriageway                               0.0  Slowing or stopping                  8                                  Car                          No                 Back  2006
318522  2006460128486                       16 - 20             3.0                    Urban area                8.0                1686.0                       NaN                        NaN     Commuting to/from work  Not at or within 20 metres of junction  VAUXHALL               COMBO 1700 DTI       Heavy oil          Male                      NaN     No tow/articulation   Did not leave carriageway                               0.0  Slowing or stopping                 10  Van / Goods 3.5 tonnes mgw or under                          No                Front  2006
318523  2006460128486                       26 - 35             2.0                    Urban area                8.0                1997.0                       NaN                        NaN     Commuting to/from work  Not at or within 20 metres of junction   CITROEN        BERLINGO 600TD HDI LX       Heavy oil          Male                  Skidded     No tow/articulation   Did not leave carriageway                               0.0  Slowing or stopping                 14  Van / Goods 3.5 tonnes mgw or under                          No                Front  2006
318524  2006460128486                       21 - 25            16.0                    Small town                9.0                1596.0                       NaN                        NaN     Commuting to/from work  Not at or within 20 metres of junction      FORD                  FIESTA XR2I          Petrol          Male                  Skidded     No tow/articulation                    Nearside                               0.0    Going ahead other                 16                                  Car                          No             Nearside  2006
318525  2006460128486                       46 - 55            15.0                         Rural                7.0                1124.0                       NaN                        NaN     Commuting to/from work  Not at or within 20 metres of junction   PEUGEOT                   205 TRIO S          Petrol          Male                  Skidded     No tow/articulation                    Nearside                               0.0    Going ahead other                 17                                  Car                          No       Did not impact  2006
318526  2006460128486                       36 - 45             6.0                    Urban area                8.0                2000.0                       NaN                        NaN     Commuting to/from work  Not at or within 20 metres of junction       BMW             320 D SE TOURING       Heavy oil          Male                  Skidded     No tow/articulation   Did not leave carriageway                               0.0  Slowing or stopping                 18                                  Car                          No                 Back  2006
318527  2006460128486  Data missing or out of range             2.0  Data missing or out of range                NaN                1995.0                       NaN                        NaN  Other/Not known (2005-10)  Not at or within 20 metres of junction  VAUXHALL              ZAFIRA LIFE DTI       Heavy oil     Not known                      NaN     No tow/articulation   Did not leave carriageway                               0.0    Going ahead other                 21                                  Car                          No       Did not impact  2006

### [Observation] There are multiple vehicles present for each accident index

In [15]:
print('Accidents Data Year ','{ min:', accidents_df['Year'].min(), ', max:', accidents_df['Year'].max(), '}')

Accidents Data Year  { min: 2005 , max: 2017 }

In [16]:
print('Vehicle Data Year ','{ min:', vehicles_df['Year'].min(), ', max:', vehicles_df['Year'].max(), '}')

Vehicle Data Year  { min: 2004 , max: 2016 }

In [17]:
vehicles_df.query('Accident_Index=="200501BS00001"')

Empty DataFrame
Columns: [Accident_Index, Age_Band_of_Driver, Age_of_Vehicle, Driver_Home_Area_Type, Driver_IMD_Decile, Engine_Capacity_.CC., Hit_Object_in_Carriageway, Hit_Object_off_Carriageway, Journey_Purpose_of_Driver, Junction_Location, make, model, Propulsion_Code, Sex_of_Driver, Skidding_and_Overturning, Towing_and_Articulation, Vehicle_Leaving_Carriageway, Vehicle_Location.Restricted_Lane, Vehicle_Manoeuvre, Vehicle_Reference, Vehicle_Type, Was_Vehicle_Left_Hand_Drive, X1st_Point_of_Impact, Year]
Index: []

### [Observation] Randomly checking Accident_Index and Years from accidents in vehicle data frame shows no results, not all the records from accidents have entries in vehicle and vice versa  

### Check mutually exclusive records in each data frame and filter them

In [18]:
accidents_df = accidents_df.dropna(subset=['Time'])

In [19]:
filtered_accidents_df = accidents_df[accidents_df['Accident_Index'].isin(vehicles_df['Accident_Index'])]

In [20]:
filtered_accidents_df.shape

(1389623, 34)

In [21]:
print('Accidents Data Year ','{ min:', filtered_accidents_df['Year'].min(), ', max:', filtered_accidents_df['Year'].max(), '}')

Accidents Data Year  { min: 2005 , max: 2016 }

In [22]:
filtered_vehicles_df = vehicles_df[vehicles_df['Accident_Index'].isin(accidents_df['Accident_Index'])]

In [23]:
filtered_vehicles_df.shape

(2058262, 24)

In [24]:
print('Vehicle Data Year ','{ min:', filtered_vehicles_df['Year'].min(), ', max:', filtered_vehicles_df['Year'].max(), '}')

Vehicle Data Year  { min: 2005 , max: 2016 }

### [Observation] We can see both data frames filter for the accidents that happened between 2005 to 2016 although originally these files have range from 2004 to 2017

## 3. Prepare final dataframe for analysis

In [25]:
# Dropping duplicate Year_y column 
# del merged_df['Year_y']
# Renaming YX1st_Point_of_Impact to 1st_Point_of_Impact
filtered_vehicles_df = filtered_vehicles_df.rename(columns={'X1st_Point_of_Impact': '1st_Point_of_Impact'})
filtered_vehicles_df.head()

       Accident_Index Age_Band_of_Driver  Age_of_Vehicle         Driver_Home_Area_Type  Driver_IMD_Decile  Engine_Capacity_.CC. Hit_Object_in_Carriageway Hit_Object_off_Carriageway  Journey_Purpose_of_Driver                       Junction_Location    make                    model Propulsion_Code Sex_of_Driver Skidding_and_Overturning Towing_and_Articulation Vehicle_Leaving_Carriageway  Vehicle_Location.Restricted_Lane            Vehicle_Manoeuvre  Vehicle_Reference                          Vehicle_Type Was_Vehicle_Left_Hand_Drive 1st_Point_of_Impact  Year
118797  200501BS00002            36 - 45             3.0  Data missing or out of range                NaN                8268.0                       NaN                        NaN    Journey as part of work                      Leaving roundabout  DENNIS                      NaN       Heavy oil          Male                      NaN     No tow/articulation   Did not leave carriageway                               0.0          Slowing or stopping                  1  Bus or coach (17 or more pass seats)                          No            Nearside  2005
118798  200501BS00003            26 - 35             5.0                    Urban area                3.0                8300.0            Parked vehicle                        NaN    Journey as part of work  Not at or within 20 metres of junction  DENNIS                      NaN       Heavy oil          Male                      NaN     No tow/articulation   Did not leave carriageway                               0.0  Going ahead right-hand bend                  1  Bus or coach (17 or more pass seats)                          No            Nearside  2005
118799  200501BS00004            46 - 55             4.0                    Urban area                1.0                1769.0                       NaN                        NaN  Other/Not known (2005-10)  Not at or within 20 metres of junction  NISSAN           ALMERA SE AUTO          Petrol        Female                      NaN     No tow/articulation   Did not leave carriageway                               0.0            Going ahead other                  1                                   Car                          No               Front  2005
118800  200501BS00005            46 - 55            10.0  Data missing or out of range                NaN                  85.0                      Kerb                        NaN  Other/Not known (2005-10)  Not at or within 20 metres of junction   HONDA                      NaN          Petrol          Male                  Skidded     No tow/articulation   Did not leave carriageway                               0.0            Going ahead other                  1            Motorcycle 125cc and under                          No               Front  2005
118801  200501BS00006            46 - 55             1.0                    Urban area                4.0                2976.0                       NaN                        NaN  Other/Not known (2005-10)  Not at or within 20 metres of junction    AUDI  A4 SPORT CABRIOLET AUTO          Petrol          Male                      NaN     No tow/articulation   Did not leave carriageway                               0.0                   Moving off                  1                                   Car                          No      Did not impact  2005

In [26]:
#filtered_vehicles_df[filtered_vehicles_df['Accident_Index'].duplicated()]

In [28]:
filtered_accidents_df.loc[:,'Date'] = pd.to_datetime(filtered_accidents_df['Date'], format="%Y-%m-%d")

In [29]:
# Function to find the time category
def get_time_category(time_str):
    # Convert the input time string to datetime object
    time_obj = datetime.datetime.strptime(str(time_str), '%H:%M').time()

    # Define time ranges
    morning_rush_start = datetime.time(5, 0)
    morning_rush_end = datetime.time(10, 0)
    office_hours_start = datetime.time(10, 0)
    office_hours_end = datetime.time(15, 0)
    afternoon_rush_start = datetime.time(15, 0)
    afternoon_rush_end = datetime.time(19, 0)
    evening_start = datetime.time(19, 0)
    evening_end = datetime.time(23, 0)
    night_start = datetime.time(23, 0)
    night_end = datetime.time(5, 0)

    # Check the time category
    if morning_rush_start <= time_obj <= morning_rush_end:
        return 'Morning Rush'
    elif office_hours_start <= time_obj <= office_hours_end:
        return 'Office Hours'
    elif afternoon_rush_start <= time_obj <= afternoon_rush_end:
        return 'Afternoon Rush'
    elif evening_start <= time_obj <= evening_end:
        return 'Evening'
    elif night_start <= time_obj or time_obj <= night_end:
        return 'Night'
    else:
        return 'Invalid Time'

# Example usage:
#time_input = '00:30'
#time_category = get_time_category(time_input)
#print(f"The time category for {time_input} is: {time_category}")

In [30]:
# Adding new time category column
filtered_accidents_df.loc[:, 'Time_Category'] = filtered_accidents_df['Time'].apply(get_time_category)

/var/folders/n3/cnsw2_q5653501p8bw3zft6h0000gp/T/ipykernel_9592/3380024585.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_accidents_df.loc[:, 'Time_Category'] = filtered_accidents_df['Time'].apply(get_time_category)

In [31]:
print('% of Missing Values in Accidents Data:', round(filtered_accidents_df.isna().sum().sum()/len(filtered_accidents_df),3), '%')

% of Missing Values in Accidents Data: 2.441 %

In [32]:
print('% of Missing Values in Vehicles Data:', round(filtered_vehicles_df.isna().sum().sum()/len(filtered_vehicles_df),3), '%')

% of Missing Values in Vehicles Data: 3.681 %

### Not removing any NA values further

In [33]:
accidents_cleaned_file = 'Cleaned/Accident_Information_Cleaned.csv'
vehicles_cleaned_file = 'Cleaned/Vehicle_Information_Cleaned.csv'

In [34]:
filtered_accidents_df.to_csv(os.path.join(base_path, accidents_cleaned_file), index=False, quotechar='"', quoting=csv.QUOTE_ALL)

In [35]:
filtered_vehicles_df.to_csv(os.path.join(base_path, vehicles_cleaned_file), index=False, quotechar='"', quoting=csv.QUOTE_ALL)